nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 10;
}

#logo {
  font-family: 'Bungee', cursive;
  font-weight: 400;
}

/* STRETCH: Bounce animation on new-tweet arrows */
.fa-angle-double-down {
  color: lightgoldenrodyellow;
  margin-top: 0.5em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.write-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

/* .write-new:hover {
  
} */