nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 10;
}

#logo {
  font-family: 'Bungee', cursive;
  font-weight: 400;
}

.fa-angle-double-down {
  color: red;
}

.write-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}